A1_v1.1.pdf
/src/a1_12123/App.java
/src/a1_12123/Temp.java
testCases.html
stopwords.txt
/Object-oriented "design": with UML's diagrams
Definition: An object-oriented system's context made up of (interacting) objects.
